/* Toggle responsive view ------- START */
@media (max-width: 576px) {
    .mobile-device {
        display: block;
    }

    .desktop-device {
        display: none;
    }
}

@media (min-width: 576px) {
    .mobile-device {
        display: none;
    }

    .desktop-device {
        display: block;
    }
}
/* Toggle responsive view ------- END */


.desktop-device #dish-heading {
    text-align: center;
}

#dish-ingredients .table {
    color: black;
}

.dish-content-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -1em;
    background-color: white;
}

@media (max-width: 576px) {
    #dish-ingredients {
        margin-top: 1em;
    }

    #dish-main-img img {
        width: 100% !important;
    }

    .recipe-videos {
        height: 15em !important;
    }
}

#dish-ingredients #recipe-note {
    font-style: italic;
    font-size: 0.8em;
    color: black;
    padding-left: 1em;
}

#dish-main-img h1 {
    /* position: absolute;
    left: 20%; */
    text-align: center;
    color: black;
}

#dish-main-img img {
    width: 90%;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.recipe-videos {
    width: 100%;
    height: 40em;
}

.details-dropdown {
    border-top: 0.1em solid rgb(229, 229, 229);
    display: flex;
    align-items: center;
    height: 4em;
    cursor: pointer;
}

#recipe-dropdown {
    border-bottom: 0.1em solid rgb(229, 229, 229);
}

.details-dropdown p {
    padding-left: 1em;
    width: 90%;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.mobile-device #dish-ingredients #dish-table {
    display: none;
}

.mobile-device #recipe-content {
    display: none;
}

#dish-description {
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
}

.ingred {
    display: flex;
    width: 100%;
}

.ingred p {
    margin: 0;
}

#ingred-table {
    width: 100%;
}

.ingred .ingred-name {
    font-size: 1em;
    font-weight: 600;
    width: 50%;
    padding-left: 1em;
}

.ingred .ingred-quant {
    text-align: right;
    width: 50%;
    padding-right: 1em;
}

.fa-chevron-up {
    display: none;
}