:root {
    --appBtn: #f5f5f5;
}

body {
    animation: transitionIn 0.75s;
    background-color: white;
}

.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
}

.preloader img {
    width: 35%;
}

@media (max-width: 576px) {
    .preloader img {
        width: 80%;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@font-face {
    font-family: winear;
    src: url('../font/Winear-rgrjB.ttf');
}

.navbar {
    background-color: rgb(18, 20, 25);
    padding-bottom: 1em;
}

.navbar-menu {
    width: 30%;
}

.app-logo {
    width: 40%;
}

@media (max-width: 576px) {
    .app-logo {
        width: 100%;
    }

    #gl-btn {
        font-size: 0.8em;
    }
}


/* Grocesries List Button */
#gl-btn {
    border-radius: 7px;
    border: 0.1em solid white;
    padding: 0.4em 0.7em 0.5em 0.7em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    float: right;
}

#gl-btn:hover {
    color: white;
    background-color: #3EC3A4;
    border: 0.1em solid #3EC3A4;
}


/* Date Display in the NavBar */
.date-display {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0em !important;
}

.date-display p {
    margin-bottom: 0em !important;
}

.date-display .day-name {
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    position: relative;
    top: 0.2em;
    letter-spacing: 1px;
}

.date-display .date {
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    position: relative;
    top: -0.4em;
    letter-spacing: 1px;
}

/* ====================================================================================== */

/* NAIN BODY */
/* Suggestion of Meals */
#meals {
    /* border: 0.2em solid var(--appBtn); */
    border-radius: 10px;
}

#meals .per-meal {
    border-radius: 5px;
    /* border: 0.12em solid rgb(18, 20, 25); */
    padding-bottom: 1em;
    /* background-color: rgba(229, 231, 235, 0.333); */
}

.meals-category {
    text-align: center;
    /* border: 0.1em solid black; */
    border: none;
    border-bottom: 0.1em solid rgba(73, 73, 73, 0.849);
    font-weight: 600;
    width: 95%;
    /* border-radius: 5px; */
    font-size: 1.4em;
    /* background-color: rgb(18, 20, 25); */
    background-color: transparent;
    /* font-family: winear; */
    color: black;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
    text-transform: capitalize;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* box-shadow: inset 0px -1px 2px 2px rgba(0, 0, 0, 0.155); */
    letter-spacing: 7px;
}

.knife {
    width: 40%;
    margin-top: 2em;
}

/* ======================================================================== SUGGESTED CARDS START */

/* 2 Suggestion of every meal */
.suggestions {
    height: 15em;
    border: 0.1em solid black;
    border-radius: 5px;
    margin-left: 2em;
    margin-right: 2em;
}


.suggested-cards {
    /* border: 0.1em solid black; */
    box-shadow: 0px 0px 5px 5px rgba(172, 172, 172, 0.232);
    border-radius: 10px;
    margin-top: 1.5em;
    height: 9em !important;
    width: 90%;
    background-color: white;
    text-decoration: none;
    /* border-top: 0.1em solid rgb(231, 231, 231);
    border-bottom: 0.1em solid rgb(231, 231, 231); */
    cursor: pointer;
}

.suggested-cards:hover {
    box-shadow: 0px 0px 2px 2px rgba(193, 193, 193, 0.232);
}

@media (max-width: 576px) {
    .suggested-cards {
        width: 90%;
    }
}

.suggested-cards .row,
.suggested-cards .dishes-thumb,
.suggested-cards .dishes-des {
    height: 100%;
}

.suggested-cards .dishes-thumb {
    /* border-right: 0.1em solid rgb(188, 188, 188); */
    width: 40%;
}

.suggested-cards .dishes-des {
    width: 60%;
}

.suggested-cards .dishes-des .row {
    height: 100% !important;
}

.suggested-cards .dishes-des .row:nth-child(1), .suggested-cards .dishes-des .row:nth-child(3) {
    height: 15%;
}

.suggested-cards .dishes-des .row:nth-child(2) {
    height: 70%;
}

.suggested-cards .dishes-thumb img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.suggested-cards .dishes-des .dish-title {
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    /* height: 1.2em !important; */
    padding: 0 !important;
    /* margin: 0 !important; */
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.suggested-cards .dishes-des .dish-brief {
    color: black;
    text-align: center;
}

.suggested-cards .dishes-des .dish-tags {
    float: right;
}

.suggested-cards .dishes-des .dish-tags i {
    margin-right: 2em;
    margin-left: 2em;
}

@media (max-width: 1200px) {
    .suggested-cards .dishes-des .dish-title {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    .suggested-cards .dishes-des .dish-title {
        font-size: 1.2em;
    }
}

#dish-heading {
    text-align: center;
}

/* ======================================================================== SUGGESTED CARDS END */