:root {
    --appBtn: #f5f5f5;
}

body {
    animation: transitionIn 0.75s;
    background-color: white;
}

.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
}

.preloader p {
    font-size: 1.3em;
    font-weight: 600;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#preloader-img {
    width: 50%;
}

@media (max-width: 576px) {
    #preloader-img {
        width: 80%;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@font-face {
    font-family: winear;
    src: url('../font/Winear-rgrjB.ttf');
}

.navbar {
    background-color: rgb(18, 20, 25);
    padding-bottom: 1em;
    z-index: 9999;
}

.navbar-menu {
    width: 30%;
}

.app-logo {
    width: 40%;
}

@media (max-width: 576px) {
    .app-logo {
        width: 100%;
    }

    #gl-btn {
        font-size: 0.8em;
    }
}


/* Grocesries List Button */
#gl-btn {
    border-radius: 7px;
    border: 0.1em solid white;
    padding: 0.4em 1.8em 0.5em 1.8em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    float: right;
}

#gl-btn:hover {
    color: white;
    background-color: #3EC3A4;
    border: 0.1em solid #3EC3A4;
}


/* Date Display in the NavBar */
.date-display {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0em !important;
}

.date-display p {
    margin-bottom: 0em !important;
}

.date-display .day-name {
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    position: relative;
    top: 0.2em;
    letter-spacing: 1px;
}

.date-display .date {
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    position: relative;
    top: -0.4em;
    letter-spacing: 1px;
}

/* ====================================================================================== */


@media (min-width: 576px) {
    #home-suggestion-container {
        padding: 0; 
        height: 100vh !important; 
        position: absolute; 
        top: 0; 
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #home-suggestion-row {
        width: 90%;
    }
}

@media (max-width: 576px) {
    #home-suggestion-container {
        height: fit-content;
        min-height: 30rem; 
        position: relative; 
        display: flex;
        justify-content: center;
    }

    #home-suggestion-row {
        width: 100%;
    }

    .suggested-cards {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* NAIN BODY */
/* Suggestion of Meals */
#meals {
    /* border: 0.2em solid var(--appBtn); */
    border-radius: 10px;
}

#meals-per-day {
    --bs-gutter-x: 3rem;
}

@media (max-width: 576px) {
    #meals-per-day {
        --bs-gutter-x: 0rem;
    }
}

#meals .per-meal {
    border-radius: 5px;
    border: 0.1em solid rgb(205, 205, 205);
    /* background-color: rgba(229, 231, 235, 0.333); */
}

.meals-category {
    text-align: center;
    /* border: 0.1em solid gray; */
    border: none;
    border-bottom: 0.1em solid rgb(205, 205, 205);
    /* border-bottom: 0.01em solid gray; */
    font-weight: 600;
    width: 100%;
    /* border-radius: 5px; */
    font-size: 1.2em;
    /* background-color: rgb(18, 20, 25); */
    background-color: transparent;
    /* font-family: winear; */
    color: black;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
    text-transform: capitalize;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* box-shadow: inset 0px -1px 2px 2px rgba(0, 0, 0, 0.155); */
    letter-spacing: 7px;
}

.knife {
    width: 40%;
    margin-top: 2em;
}

/* ======================================================================== SUGGESTED CARDS START */

/* For Sunday Dinner (where no meals are suggested) */
.sunday-dinner-special {
    height: 23em;
}

.restaurant-special {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 2 Suggestion of every meal */
.suggested-cards {
    /* border: 0.1em solid black; */
    /* box-shadow: 0px 0px 5px 5px rgba(172, 172, 172, 0.232); */
    /* border-radius: 10px; */
    border-bottom: 0.1em solid rgb(205, 205, 205);
    padding: 1em;
    height: 12em !important;
    width: 100%;
    background-color: white;
    text-decoration: none;
    /* border-top: 0.1em solid rgb(231, 231, 231);
    border-bottom: 0.1em solid rgb(231, 231, 231); */
    cursor: pointer;
}

.suggested-cards:hover {
    box-shadow: 0px 0px 7px 7px rgba(193, 193, 193, 0.35);
    z-index: 2;
}

@media (max-width: 576px) {
    .suggested-cards > .row {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.suggested-cards .row,
.suggested-cards .dishes-thumb,
.suggested-cards .dishes-des {
    height: 100%;
}

.suggested-cards .dishes-thumb {
    /* border-right: 0.1em solid rgb(188, 188, 188); */
    width: 40%;
}

.suggested-cards .dishes-des {
    width: 60%;
}

.suggested-cards .dishes-des .row {
    height: 100% !important;
    padding-left: 1em;
    padding-right: 0.5em;
}

/* .suggested-cards .dishes-des .row:nth-child(1),
.suggested-cards .dishes-des .row:nth-child(3) {
    height: 10%;
}

.suggested-cards .dishes-des .row:nth-child(2) {
    height: 80%;
    
} */

.suggested-cards .dishes-thumb img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 100%;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
}

.suggested-cards .dishes-des .dish-title {
    color: black;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    min-height: 1em;
    height: fit-content;
    padding: 0 !important;
    /* margin: 0 !important; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

.suggested-cards .dishes-des .dish-brief {
    color: gray;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.2em;
}

.suggested-cards .dishes-des .dish-tags {
    float: right;
}

.suggested-cards .dishes-des .dish-tags i {
    margin-right: 2em;
    margin-left: 2em;
}

@media (max-width: 1200px) {
    .suggested-cards .dishes-des .dish-title {
        font-size: 1em;
    }
}

/* ======================================================================== SUGGESTED CARDS END */

button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    /* width: 12rem; */
    height: auto;
    float: right;
}

@media (max-width: 576px) {
    button.learn-more {
        left: 50%;
        -webkit-transform: translateX(-50%);
        float: none;
    }
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    background: none;
    font-size: 1.3em;
    color: #3EC3A4;
}

button.learn-more:hover .circle {
    background-color: white;
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}